/* body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
} */
/* Ensures that the container takes up the full height of the screen */
#root {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}
/* Styles for the main content area */
.content {
  flex: 1;
  padding: 60px;
}
/* Footer styles */
.footer {
  /* background-color: #50727B ; */
  color: white;
  text-align: center;
  padding: 20px 0;
}
.footer p {
  margin: 0;
}
.footer .social-links {
  margin-top: 10px;
}
.footer .social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
.footer .social-links a:hover {
  text-decoration: underline;
}
.bg-dark {
  background-color: #222831 !important;
}